# One hot encoding using Iris dataset

In [30]:
#import panda class
import pandas as pd

In [31]:
#load Iris data set
data = pd.read_csv('C:/Users/yasir.hoq/Desktop/Data/Iris.csv')
#Drop Id columns beacause it is not necessary since index will be populated automatically
data.drop(columns='Id', inplace=True)
#Display first 5 row to check the data set
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [32]:
#Use get_dummies method from panda class to create dummy variable and store those in dummies
dummies = pd.get_dummies(data.Species)
#Display dummies
dummies

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
5              1                0               0
6              1                0               0
7              1                0               0
8              1                0               0
9              1                0               0
10             1                0               0
11             1                0               0
12             1                0               0
13             1                0               0
14             1                0               0
15             1                0               0
16             1                0               0
17             1                0               0
18             1                0               0
19             1                0               0
20             1                0               0
21             1                0               0
22             1                0               0
23             1                0               0
24             1                0               0
25             1                0               0
26             1                0               0
27             1                0               0
28             1                0               0
29             1                0               0
..           ...              ...             ...
120            0                0               1
121            0                0               1
122            0                0               1
123            0                0               1
124            0                0               1
125            0                0               1
126            0                0               1
127            0                0               1
128            0                0               1
129            0                0               1
130            0                0               1
131            0                0               1
132            0                0               1
133            0                0               1
134            0                0               1
135            0                0               1
136            0                0               1
137            0                0               1
138            0                0               1
139            0                0               1
140            0                0               1
141            0                0               1
142            0                0               1
143            0                0               1
144            0                0               1
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [33]:
#Concate the newly created dummy variables with the loaded data and store in merged_data
merged_data = pd.concat([data,dummies], axis=1)
#Display merged_data
merged_data.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Iris-setosa,Iris-versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,Iris-setosa,1,0,0
1,4.9,3.0,1.4,0.2,Iris-setosa,1,0,0
2,4.7,3.2,1.3,0.2,Iris-setosa,1,0,0
3,4.6,3.1,1.5,0.2,Iris-setosa,1,0,0
4,5.0,3.6,1.4,0.2,Iris-setosa,1,0,0

In [35]:
#Drop the Species column since we've done one hot encoding, hence Species column is not necessary and store in final_data
final_data = merged_data.drop(columns='Species')
#Display first 5 rows of the final_data
final_data.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Iris-setosa,Iris-versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0